<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/clock.css">
    <title>Document</title>
</head>

<body >

    <header class="headertop">

        <a id="anchorMaldito" href="https://www.google.com/" target="_blank">
            <img src="../assets/rocket.png" alt="rocket">
            <span>go home</span>
        </a>
        
    </header>

    <main class="main-container-clock">
        <article>
            <p>Son las...</p>
            <h2 id="hour"></h2>
            <h3 id="date"></h3>
            <p id="message" class="message"></p>
        </article>
    </main>

    <script src="../js/clock.js"></script>
</body>

</html>