<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/password.css">
    <title>Generate Password Page</title>
</head>
<body style="text-align: center;">
    <header class="headertop">

        <a id="anchorMaldito" href="../../index.html" >
            <img src="../assets/rocket.png" alt="rocket">
            <h2>go home</h2>
        </a>
        
    </header>
    <main>
        <section class="password-sectionContainer">
            <article class="password-container">
                <div class="password-container--top">
                    <h2>Crea tu contrase&ntilde;a segura</h2>
                    <img src="../assets/lock.png" alt="lock-image">
                </div>
                <div class="password-container--button">
                    <label for="numberInput">Numero de caracteres de la Contraseña</label>
                    <input id="numberInput" type="number" min="12" max="50" placeholder="12">
                    <div>
                        <button id="generateButton" class="generateButton" >Generate password</button>
                    </div>

                    <div id="password" class="password">
                        <h3 >Contraseña Generada:</h3>
                        <p id="passwordText" class="passwordText"></p>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-image--container">
            <a href="./clock.html">
                <img src="../assets/clock.png" alt="clock-image">
            </a>
            <a href="./password.html">
                <img src="../assets/lock.png" alt="lock-image">
            </a>
            <a href="./links.html">
                <img src="../assets/link.png" alt="link-image">
            </a>
            <a href="./weather.html">
                <img src="../assets/cloud.png" alt="cloud-image">
            </a>
        </div>
    </footer>
    <script src="../js/passwordGenerator.js"></script>
    <script src="../../script.js"></script>
</body>
</html>