<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <div style="margin-top: 50px;">
        <label for="numberInput"></label>
        <input id="numberInput" type="number" min="12" max="50" placeholder="type" style="padding: 6px; width: 50px;">
        <button id="generateButton" >Generate password</button>
        <p id="passwordText"></p>

    </div>
    <script src="../js/passwordGenerator.js"></script>
</body>
</html>