<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">

    <section class="container" style="text-align: center; display: flex; flex-direction: column ; justify-content: center; align-items: center;">

        
    
        <div class="forecastContainer" style="display: flex;align-items: center; gap: 10px; width: 300px; height: 200px; margin-top: 25px; background: red; overflow-x: scroll;">
             
        </div>
        
    </section>
    <script src="../js/weather.js"></script>
</body>
</html>