@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    font-size: 62.5%;
}
body {
	line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('https://images.pexels.com/photos/351265/pexels-photo-351265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* here start header */
.headertop{
    
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    height: 6.5rem;
}
.headertop a {
    display: flex;
    gap: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.headertop a img{
    height: 2.8rem;
    width: 2.8rem;
}


/* Aqui empieza el main container */
.password-sectionContainer{
    height: calc(100vh - 13rem);
    display: flex;
    align-items: center;
}
.password-container{
    margin: 0 auto;
    max-width: 45rem;
    padding: 1rem 0;
    color: white;
}
.password-container--top{
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    letter-spacing: .1rem;
    gap: .6rem;
    margin-bottom: 1.2rem;
}
.password-container--top img{
    filter: invert(100%);
    width: 2.2rem;
    height: 2.2rem;
    
}
.password-container--button{
    background-color: #33333393;
    padding: 2rem;
    text-align: left;
    border-radius: 1rem;
    
}
.password-container--button label{
    font-size: 1.4rem;   
    margin-right: 1rem; 
}
.password-container--button input{
    font-family: inherit;
    width: 6.4rem;
    padding: .4rem .8rem;
    border-radius: .5rem;
    border: none;
    margin-bottom: 2rem;
}
.generateButton{
    padding: 1rem 1rem;
    background-color: #0371d8;
    color: white;
    border: none;
    border-radius: .5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all .2s linear;
}
.generateButton:hover{
    transform: scale(1.02);
}
.generateButton:active{
    transform: scale(0.99);
}
.password{
    display: none;
}
.showPassword{
    display:block;
}
.password h3{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: .6rem;
}
.passwordText{
    font-size: 1.6rem;
    margin-left: .6rem;
    color: #ffe5c1;
    word-wrap: break-word;
}

/* Aqui empiza el footer */
.footer{
    height: 6.5rem;
    padding: 0 1rem 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-image--container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    width: 70%;
    border-bottom: 1px solid white;
    padding: 0 1rem 1rem 0;
}
.footer-image--container img{
    filter: invert(100%);
    width: 3rem;
    height: 3rem;
}